.navmenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    z-index: 999;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.pages {
    display: flex;
    align-items: center;
    gap: 20px;
}


.login {
    display: flex;
    gap: 25px;
    align-items: center;

}

.add-course {
    margin-top: 10px;
    /* width: 20px; */
}

.primarybtn {
    background: var(--gradiant);
    padding: 7px 20px;
    border: none;
    color: #fff;
    border-radius: 15px;
    font-weight: 500;
    font-size: 20px;
    font-family: "Saira", sans-serif;
    cursor: pointer;
}

.cart {
    position: relative;
    margin-top: 7px;
}

.circle {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #2AAA94;
    top: -7px;
    right: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.ghostbtn {
    background: none;
    border: none;
    text-decoration: underline;
    font-weight: 500;
    font-size: 20px;
    font-family: "Saira", sans-serif;
    cursor: pointer;
}

.pages,
button {
    background: none;
    border: none;
    color: #1B2336;
    font-weight: 500;
    font-size: 20px;
    font-family: "Saira", sans-serif;
    cursor: pointer;
}

.navLinks {
    display: flex;
    align-items: center;
    gap: 20px;

}


.dashboard {
    border-radius: 50%;
    padding: 8px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown {
    z-index: 999;
    position: absolute;
    color: #3b4661c6;
    margin-top: 7px;
    margin-left: -70px;
    /* width: 120; */
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    /* border-top: 0; */
    border-radius: 7px;
    padding: 15px;
    padding-right: 20px;
}

.dropdownCategory {
    font-size: 16px;
    color: var(--text-color-dark);
    margin: 2px 0;
    /* width: 100%; */
}

.dropdownCategory:hover {
    color: var(--green);
    /* background-color: var(--title-color); */
}

.hidden {
    display: none;
}

.bold {
    font-weight: 500;
    color: var(--title-color);
}

.shooo {
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
}

.search {
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
    border: 1px solid #C2C2C2;
    /* max-width: 350px; */
    width: 350px;
    height: 49px;
    padding: 14px 22px;
    color: #1B1B1B;
}

.search-input {
    border: none;
    outline: none;
}

.relative {
    position: relative;
}

.category {
    margin-top: 20px;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.navLink {
    z-index: 999;
}

.input-title {
    margin-top: 20px;
    margin-bottom: 10px;
}

.logoWrite {
    padding-bottom: 3px;
}

.nav-block {
    display: none;
}


/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
    .logoIcon {
        width: 45px;
    }

    .logoWrite {
        width: 90px;
    }

    .search {
        width: 220px;
        padding: 14px 14px;
    }

    .login {
        gap: 15px;
    }

    .pages,
    button {
        font-size: 18px;
    }
}

@media screen and (max-width: 768px) {
    .nav-hidden {
        display: none;
    }

    .nav-block {
        display: block;
    }

    .search {
        width: 100%;
        flex: 1;
        margin: 0 15px;
    }

    .navmenu {
        padding: 10px 0;
    }
}

/* For medium devices */
@media screen and (max-width: 576px) {
    .logoIcon {
        display: none;
    }

    .search {
        height: 40px;
        padding: 10px;
        margin: 0 10px;
    }
}

/* For small devices */
@media screen and (max-width: 420px) {
    

    .search img {
        display: none;
    }
}