.cartabout{
    display: flex;
    flex-direction:row-reverse ;
    width: 100%;
}

.cart{
    width: 20%;
    right: 2%;
    margin-bottom: 20px;
    margin-top: -190px;
}

.infomation{
text-align: left;
width: 60%;
right:18%;
position: relative;
}

.foot{
    margin-top: 20px;
}

.flex{
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
}

.addCourse{
    /* position: absolute; */
    /* margin: 200; */
    /* top: 0;
    right: 0;
    bottom: 0;
    left: 0; */
    /* margin:0 auto; */

    /* height: 60vh; */
    /* width: 100%; */
    /* background: red; */
    /* flex-direction: column; */
    
}

.big-title{
    color: var(--title-color);
    font-weight: 500;
    font-size: 22px;
}

.description{
    color: var(--text-color);
    font-size: 12px;
    margin-bottom: 20px;
}

.input-title{
    color: var(--title-color);

}