.Bigintro {
    background: #04016C;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.Intro {
    width: 100%;
    height: 500px;
    /* display: flex; */
    background: linear-gradient(to bottom left, #04016C, #4A16BD);

}

.home-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.mistperson {
    display: flex;
    align-items: center;
}

.person-container {
    /* position: relative; */
    z-index: 1;
    display: flex;
    align-items: end;
    justify-content: center;
    margin-right: -70px;
    /* margin-top: 100px; */
    /* width: 100%; */
}

.mistcircle {
    /* position: absolute; */
    width: 500px;
    height: 500px;
    background: radial-gradient(circle at center, #005FFF 0%, rgba(19, 102, 157, 0.36) 50%, rgba(255, 255, 255, 0), 100%, rgba(255, 255, 255, 0) 100%);

}

.person {
    height: 450px;
    z-index: 99;
}

.door {
    position: absolute;
    transform: rotate(-90deg);
    right: 0.36%;
    top: 150px;
    width: 200px;
}


.mistcircle2 {
    position: absolute;
    width: 300px;
    height: 300px;
    background: radial-gradient(circle at center, #ff0606fb 5%, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 0%);
    right: 90%;
    transform: rotate(180deg);

}

.door2 {
    position: absolute;
    left: 30%;
    bottom: -5%;
    width: 200px;
}

.home-leftside {
    display: flex;
    align-items: center;
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 1120px) {
    .person-container {
        margin-right: -80px;
    }
    .door,.door2{
        width: 180px;
    }
}

@media screen and (max-width: 992px) {
    .person-container{
        margin-right: -96px;
    }
    .person {
        height: 400px;
    }
    .door,.door2{
        width: 160px;
    }
    .Intro{
        height: 450px;
    }
    .mistcircle{
        height: 450px;
        width: 410px;
    }
}

@media screen and (max-width: 768px) {
    .person-container{
        margin-right: -60px;
    }
    .person {
        height: 300px;
    }
    .mistcircle{
        height: 350px;
        width: 320px;
    }
    .door,.door2{
        width: 120px;
    }
    .Intro{
        height: auto;
    }
}

/* For medium devices */
@media screen and (max-width: 576px) {
    .person-container,.door2{
        display: none;
    }
    .door{
        width: 110px;
    }
}

/* For small devices */
@media screen and (max-width: 350px) {}