.about{
    height: auto;
    background: linear-gradient(to right, #084FC7, #7F56D9);
    display: grid;
    justify-content: center;
    text-align: center;
    padding-bottom: 80px;
}

.question{
    margin-top: 100px;
    justify-content: space-between;
}

.question h1{
    color:#fff;
}
.question span{
    color:var(--green);
}

.question p{
    color:#fff;
    display: flex;
    justify-content: center;
}

.aboutimg{
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media screen and (max-width: 540px) {
    .question h1{
        font-size: 30px;
    }
    .question p{
       font-size: 15px;
    }

}