.ad{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.ad-container{
    display: flex;
    align-items: center;
    gap: 70px;
    padding-top: 100px ;
    padding-bottom: 100px;
}

.ad img{
    width: 400px;
}

.ad-container span {
    color: var(--green);
}

.text_container{
    display: grid;
    gap: 20px;
}